body {
    background: rgb(175, 171, 171);
    font-family: verdana;
    font-size: 90%;
}

.container {
    width: 600px;
    height: 412px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 6px;
}

ul {
    list-style-type: none;
    margin-top: 60px;
    padding: 0;
    margin-bottom: 37px;
}

li{
    padding: 15px;
    text-align: center;
}

.left {
    width: 300px;
    float: left;
    margin-top: 26px;
    padding: 0;
}

.left a,
.right a {
    text-decoration: none;
}

.right{
    width: 300px;
    float: right;
    margin-top: 26px;
    padding: 0;
}

.group::after {
    content: "";
    clear: both;
    display: table;
}

form {
    width: 600px;
    height: 336px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    position: relative;
}

input:not([type="checkbox"]) {
    width: 470px;
    height: 50px;
    border-radius: 0.25em;
    margin: 20px 30px 10px;
    font-size: 1rem;
    border: 1px solid #d2d8d8;
    padding-left: 60px;
}

.mail::before {
    content: "\2709";
    width: 20px;
    position: absolute;
    height: 20px;
    left: 55px;
    top: 33px;
    font-size: 1.3rem;
}

.fas::before {
    content: "";
    width: 20px;
    position: absolute;
    height: 20px;
    top: 125px;
    left: 60px;
}

input[type="checkbox"] {
    margin: 22px 0 5px 30px;
}

button {
    height: 50px;
    width: 548px;
    margin: 30px 28px;
    background: #3599ae;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border-radius: 0.25em;
    border: none;
}

.hide {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 129px;
    color: #343642;
    transform: translateY(-50%);
    left: 495px;
}