body {
    background: rgb(175, 171, 171);
    font-family: verdana;
    font-size: 90%;
}

.container {
    width: 600px;
    height: 412px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 6px;
    display: none;
}

#show_container:target{
    display: block;
}

ul {
    list-style-type: none;
    margin-top: 60px;
    padding: 0;
    margin-bottom: 37px;
}

li{
    padding: 15px;
    text-align: center;
}

.left {
    width: 300px;
    float: left;
    margin-top: 26px;
    padding: 0;
}

.left a,
.right a {
    text-decoration: none;
}

.right{
    width: 300px;
    float: right;
    margin-top: 26px;
    padding: 0;
}

#sign_in_list:target {
    background:pink
}

#new_account_list:target {
    background: yellow;
}

#item2:target .left {
    background: blue;
}

#sign_in_list {
   background: red;
}

#new_account_list{
    background: green;
}

.group::after {
    content: "";
    clear: both;
    display: table;
}

form {
    width: 600px;
    height: 336px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    position: relative;
}

input:not([type="checkbox"]) {
    width: 470px;
    height: 50px;
    border-radius: 0.25em;
    margin: 20px 31px 10px;
    font-size: 1rem;
    border: 1px solid #d2d8d8;
    padding-left: 60px;
}

.mail::before {
    content: "\2709";
    width: 20px;
    position: absolute;
    height: 20px;
    left: 55px;
    top: 33px;
    font-size: 1.3rem;
}
    
.kluc::before {
    width: 20px;
    position: absolute;
    top: 140px;
    left: 58px;
}

input[type="checkbox"] {
    margin: 22px 0 5px 30px;
}

button {
    height: 50px;
    width: 548px;
    margin: 30px 28px;
    background: #3599ae;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border-radius: 0.25em;
    border: none;
}

.hide {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 146px;
    color: #343642;
    transform: translateY(-50%);
    left: 495px;
    text-decoration: none;
}

#item1:target {
    display: none;
}

#item2:target {
    display: none;
}

#item1 {
    display: block;
}

#item2 {
    display: block;
}

.form2 {
    height: 424px;
    width: 600px;
    position: relative;
}

.form2 input:not([type="checkbox"]){
    margin: 20px 31px 10px;
}

.fa-user::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 56px;
    left: 63px;
}

.mail2::before {
    content: "\2709";
    width: 20px;
    position: absolute;
    height: 20px;
    left: 55px;
    top: 132px;
    font-size: 1.3rem;
}

.kye2::before {
        content: "";
        width: 20px;
        position: absolute;
        height: 20px;
        top: 225px;
        left: 61px;
}

.hide2 {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 233px;
    color: #343642;
    transform: translateY(-50%);
    left: 495px;
    text-decoration: none;
}

.last-box {
    margin-top: -17px; 
}

.nav-sign-in {
    background: red;
    border-radius: 10px;
}